In [111]:
import warnings
warnings.simplefilter('ignore')

# %matplotlib inline
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

In [112]:

train_data = pd.read_csv('Resources/train.csv')
test_data = pd.read_csv('Resources/test.csv')
train_data.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [113]:
train_data = train_data.dropna(axis=0, how='any', thresh=None, subset=None, inplace=False)
test_data = test_data.dropna(axis=0, how='any', thresh=None, subset=None, inplace=False)

In [114]:
X = train_data[["Sex","Pclass","SibSp", "Age", "Fare"]]
y = train_data["Survived"].values.reshape(-1, 1)
target_names = ["Survived", "Not Survived"]
print(X.shape, y.shape)

(183, 5) (183, 1)

In [115]:
X = pd.get_dummies(X, columns=["Sex"])
X.head()

    Pclass  SibSp   Age     Fare  Sex_female  Sex_male
1        1      1  38.0  71.2833           1         0
3        1      1  35.0  53.1000           1         0
6        1      0  54.0  51.8625           0         1
10       3      1   4.0  16.7000           1         0
11       1      0  58.0  26.5500           1         0

In [116]:
# Create the bins in which Data will be held
# Bins are 0 to 25, 25 to 50, 50 to 75, 75 to 100
bins = [0, 100, 200, 300, 400, 550]

# Create the names for the four bins
fare_group_names = ['Vey Low',"Low", 'Okay', 'High', 'Highest']

In [117]:
X["Fare"] = pd.cut(X["Fare"], bins, labels=fare_group_names)
X.head()

    Pclass  SibSp   Age     Fare  Sex_female  Sex_male
1        1      1  38.0  Vey Low           1         0
3        1      1  35.0  Vey Low           1         0
6        1      0  54.0  Vey Low           0         1
10       3      1   4.0  Vey Low           1         0
11       1      0  58.0  Vey Low           1         0

In [118]:
X = pd.get_dummies(X, columns=["Fare"])
X.head()

,Pclass,SibSp,Age,Sex_female,Sex_male,Fare_Vey Low,Fare_Low,Fare_Okay,Fare_High,Fare_Highest
1,1,1,38.0,1,0,1,0,0,0,0
3,1,1,35.0,1,0,1,0,0,0,0
6,1,0,54.0,0,1,1,0,0,0,0
10,3,1,4.0,1,0,1,0,0,0,0
11,1,0,58.0,1,0,1,0,0,0,0

In [119]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42)

In [120]:
# Support vector machine linear classifier
from sklearn.svm import SVC 
model = SVC(kernel='linear')
model.fit(X_train, y_train)

SVC(C=1.0, cache_size=200, class_weight=None, coef0=0.0,
  decision_function_shape='ovr', degree=3, gamma='auto', kernel='linear',
  max_iter=-1, probability=False, random_state=None, shrinking=True,
  tol=0.001, verbose=False)

In [121]:
# Model Accuracy
print('Test Acc: %.3f' % model.score(X_test, y_test))

Test Acc: 0.783

In [122]:
# Calculate classification report
from sklearn.metrics import classification_report
predictions = model.predict(X_test)
print(classification_report(y_test, predictions,
                            target_names=target_names))

              precision    recall  f1-score   support

    Survived       0.68      0.83      0.75        18
Not Survived       0.88      0.75      0.81        28

 avg / total       0.80      0.78      0.79        46

In [123]:
predictions

array([0, 1, 1, 0, 0, 0, 1, 1, 1, 0, 0, 1, 0, 1, 0, 1, 1, 0, 0, 1, 1, 1,
       0, 1, 0, 1, 1, 0, 1, 1, 1, 1, 0, 1, 0, 1, 1, 0, 0, 1, 0, 0, 1, 0,
       0, 0], dtype=int64)

In [154]:
# Use train_test_split to create training and testing data
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)

In [155]:
from sklearn.preprocessing import StandardScaler

# Create a StandardScater model and fit it to the training data
X_scaler = StandardScaler().fit(X_train)

In [156]:
# Transform the training and testing data using the X_scaler

X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [157]:
from keras.utils import to_categorical

# One-hot encoding
y_train_categorical = to_categorical(y_train)
y_test_categorical = to_categorical(y_test)

In [163]:
# first, create a normal neural network with 2 inputs, 6 hidden nodes, and 2 outputs
from keras.models import Sequential
from keras.layers import Dense

model = Sequential()
model.add(Dense(units=6, activation='relu', input_dim=10))
model.add(Dense(units=2, activation='softmax'))

In [164]:
model.summary()

_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_18 (Dense)             (None, 6)                 66
_________________________________________________________________
dense_19 (Dense)             (None, 2)                 14
=================================================================
Total params: 80
Trainable params: 80
Non-trainable params: 0
_________________________________________________________________

In [165]:
# Compile the model
model.compile(optimizer='adam',
              loss='categorical_crossentropy',
              metrics=['accuracy'])

In [166]:
# Fit the model to the training data
model.fit(
    X_train_scaled,
    y_train_categorical,
    epochs=100,
    shuffle=True,
    verbose=2
)

Epoch 1/100
 - 1s - loss: 0.9516 - acc: 0.3431
Epoch 2/100
 - 0s - loss: 0.9347 - acc: 0.3942
Epoch 3/100
 - 0s - loss: 0.9168 - acc: 0.4015
Epoch 4/100
 - 0s - loss: 0.9011 - acc: 0.4161
Epoch 5/100
 - 0s - loss: 0.8855 - acc: 0.4307
Epoch 6/100
 - 0s - loss: 0.8710 - acc: 0.4526
Epoch 7/100
 - 0s - loss: 0.8571 - acc: 0.4599
Epoch 8/100
 - 0s - loss: 0.8434 - acc: 0.4891
Epoch 9/100
 - 0s - loss: 0.8304 - acc: 0.5182
Epoch 10/100
 - 0s - loss: 0.8177 - acc: 0.5547
Epoch 11/100
 - 0s - loss: 0.8055 - acc: 0.5620
Epoch 12/100
 - 0s - loss: 0.7929 - acc: 0.5766
Epoch 13/100
 - 0s - loss: 0.7806 - acc: 0.5985
Epoch 14/100
 - 0s - loss: 0.7691 - acc: 0.6058
Epoch 15/100
 - 0s - loss: 0.7578 - acc: 0.6058
Epoch 16/100
 - 0s - loss: 0.7460 - acc: 0.6277
Epoch 17/100
 - 0s - loss: 0.7345 - acc: 0.6350
Epoch 18/100
 - 0s - loss: 0.7238 - acc: 0.6423
Epoch 19/100
 - 0s - loss: 0.7134 - acc: 0.6423
Epoch 20/100
 - 0s - loss: 0.7033 - acc: 0.6423
Epoch 21/100
 - 0s - loss: 0.6927 - acc: 0.6423
Epoch 22/100
 - 0s - loss: 0.6832 - acc: 0.6350
Epoch 23/100
 - 0s - loss: 0.6735 - acc: 0.6350
Epoch 24/100
 - 0s - loss: 0.6640 - acc: 0.6350
Epoch 25/100
 - 0s - loss: 0.6553 - acc: 0.6277
Epoch 26/100
 - 0s - loss: 0.6454 - acc: 0.6350
Epoch 27/100
 - 0s - loss: 0.6373 - acc: 0.6423
Epoch 28/100
 - 0s - loss: 0.6278 - acc: 0.6496
Epoch 29/100
 - 0s - loss: 0.6194 - acc: 0.6569
Epoch 30/100
 - 0s - loss: 0.6108 - acc: 0.6642
Epoch 31/100
 - 0s - loss: 0.6023 - acc: 0.6861
Epoch 32/100
 - 0s - loss: 0.5953 - acc: 0.6861
Epoch 33/100
 - 0s - loss: 0.5874 - acc: 0.6861
Epoch 34/100
 - 0s - loss: 0.5801 - acc: 0.6861
Epoch 35/100
 - 0s - loss: 0.5745 - acc: 0.6788
Epoch 36/100
 - 0s - loss: 0.5678 - acc: 0.6934
Epoch 37/100
 - 0s - loss: 0.5626 - acc: 0.6934
Epoch 38/100
 - 0s - loss: 0.5574 - acc: 0.6861
Epoch 39/100
 - 0s - loss: 0.5520 - acc: 0.6861
Epoch 40/100
 - 0s - loss: 0.5472 - acc: 0.6861
Epoch 41/100
 - 0s - loss: 0.5422 - acc: 0.6934
Epoch 42/100
 - 0s - loss: 0.5375 - acc: 0.6934
Epoch 43/100
 - 0s - loss: 0.5323 - acc: 0.7007
Epoch 44/100
 - 0s - loss: 0.5276 - acc: 0.7007
Epoch 45/100
 - 0s - loss: 0.5234 - acc: 0.7007
Epoch 46/100
 - 0s - loss: 0.5196 - acc: 0.7007
Epoch 47/100
 - 0s - loss: 0.5156 - acc: 0.7007
Epoch 48/100
 - 0s - loss: 0.5119 - acc: 0.7007
Epoch 49/100
 - 0s - loss: 0.5089 - acc: 0.7007
Epoch 50/100
 - 0s - loss: 0.5051 - acc: 0.7080
Epoch 51/100
 - 0s - loss: 0.5015 - acc: 0.7080
Epoch 52/100
 - 0s - loss: 0.4983 - acc: 0.7080
Epoch 53/100
 - 0s - loss: 0.4952 - acc: 0.7153
Epoch 54/100
 - 0s - loss: 0.4922 - acc: 0.7080
Epoch 55/100
 - 0s - loss: 0.4889 - acc: 0.7080
Epoch 56/100
 - 0s - loss: 0.4864 - acc: 0.7080
Epoch 57/100
 - 0s - loss: 0.4832 - acc: 0.7007
Epoch 58/100
 - 0s - loss: 0.4803 - acc: 0.7007
Epoch 59/100
 - 0s - loss: 0.4775 - acc: 0.7080
Epoch 60/100
 - 0s - loss: 0.4750 - acc: 0.7080
Epoch 61/100
 - 0s - loss: 0.4724 - acc: 0.7080
Epoch 62/100
 - 0s - loss: 0.4700 - acc: 0.7226
Epoch 63/100
 - 0s - loss: 0.4683 - acc: 0.7226
Epoch 64/100
 - 0s - loss: 0.4659 - acc: 0.7372
Epoch 65/100
 - 0s - loss: 0.4642 - acc: 0.7372
Epoch 66/100
 - 0s - loss: 0.4620 - acc: 0.7372
Epoch 67/100
 - 0s - loss: 0.4598 - acc: 0.7518
Epoch 68/100
 - 0s - loss: 0.4579 - acc: 0.7591
Epoch 69/100
 - 0s - loss: 0.4560 - acc: 0.7591
Epoch 70/100
 - 0s - loss: 0.4541 - acc: 0.7591
Epoch 71/100
 - 0s - loss: 0.4525 - acc: 0.7591
Epoch 72/100
 - 0s - loss: 0.4511 - acc: 0.7664
Epoch 73/100
 - 0s - loss: 0.4494 - acc: 0.7591
Epoch 74/100
 - 0s - loss: 0.4476 - acc: 0.7810
Epoch 75/100
 - 0s - loss: 0.4459 - acc: 0.7810
Epoch 76/100
 - 0s - loss: 0.4444 - acc: 0.7737
Epoch 77/100
 - 0s - loss: 0.4428 - acc: 0.7664
Epoch 78/100
 - 0s - loss: 0.4414 - acc: 0.7664
Epoch 79/100
 - 0s - loss: 0.4399 - acc: 0.7664
Epoch 80/100
 - 0s - loss: 0.4385 - acc: 0.7664
Epoch 81/100
 - 0s - loss: 0.4370 - acc: 0.7810
Epoch 82/100
 - 0s - loss: 0.4357 - acc: 0.7956
Epoch 83/100
 - 0s - loss: 0.4344 - acc: 0.8029
Epoch 84/100
 - 0s - loss: 0.4331 - acc: 0.8029
Epoch 85/100
 - 0s - loss: 0.4319 - acc: 0.8029
Epoch 86/100
 - 0s - loss: 0.4306 - acc: 0.7956
Epoch 87/100
 - 0s - loss: 0.4297 - acc: 0.7956
Epoch 88/100
 - 0s - loss: 0.4285 - acc: 0.7956
Epoch 89/100
 - 0s - loss: 0.4275 - acc: 0.7956
Epoch 90/100
 - 0s - loss: 0.4263 - acc: 0.7956
Epoch 91/100
 - 0s - loss: 0.4253 - acc: 0.8102
Epoch 92/100
 - 0s - loss: 0.4242 - acc: 0.8102
Epoch 93/100
 - 0s - loss: 0.4229 - acc: 0.8102
Epoch 94/100
 - 0s - loss: 0.4220 - acc: 0.8102
Epoch 95/100
 - 0s - loss: 0.4211 - acc: 0.8102
Epoch 96/100
 - 0s - loss: 0.4203 - acc: 0.8102
Epoch 97/100
 - 0s - loss: 0.4194 - acc: 0.8102
Epoch 98/100
 - 0s - loss: 0.4185 - acc: 0.8102
Epoch 99/100
 - 0s - loss: 0.4176 - acc: 0.8102
Epoch 100/100
 - 0s - loss: 0.4165 - acc: 0.8102

In [218]:
deep_model = Sequential()
deep_model.add(Dense(units=6, activation='relu', input_dim=10))
deep_model.add(Dense(units=6, activation='relu'))
deep_model.add(Dense(units=6, activation='relu'))

deep_model.add(Dense(units=2, activation='softmax'))

In [219]:
deep_model.summary()

_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_45 (Dense)             (None, 6)                 66
_________________________________________________________________
dense_46 (Dense)             (None, 6)                 42
_________________________________________________________________
dense_47 (Dense)             (None, 6)                 42
_________________________________________________________________
dense_48 (Dense)             (None, 2)                 14
=================================================================
Total params: 164
Trainable params: 164
Non-trainable params: 0
_________________________________________________________________

In [220]:
deep_model.compile(optimizer='adam',
                   loss='categorical_crossentropy',
                   metrics=['accuracy'])

deep_model.fit(
    X_train_scaled,
    y_train_categorical,
    epochs=100,
    shuffle=True,
    verbose=2
)

Epoch 1/100
 - 1s - loss: 0.7855 - acc: 0.3358
Epoch 2/100
 - 0s - loss: 0.7748 - acc: 0.3358
Epoch 3/100
 - 0s - loss: 0.7652 - acc: 0.4380
Epoch 4/100
 - 0s - loss: 0.7567 - acc: 0.4672
Epoch 5/100
 - 0s - loss: 0.7487 - acc: 0.5328
Epoch 6/100
 - 0s - loss: 0.7428 - acc: 0.5839
Epoch 7/100
 - 0s - loss: 0.7368 - acc: 0.5985
Epoch 8/100
 - 0s - loss: 0.7309 - acc: 0.5912
Epoch 9/100
 - 0s - loss: 0.7253 - acc: 0.6131
Epoch 10/100
 - 0s - loss: 0.7204 - acc: 0.6058
Epoch 11/100
 - 0s - loss: 0.7154 - acc: 0.6350
Epoch 12/100
 - 0s - loss: 0.7112 - acc: 0.6496
Epoch 13/100
 - 0s - loss: 0.7066 - acc: 0.6569
Epoch 14/100
 - 0s - loss: 0.7019 - acc: 0.6423
Epoch 15/100
 - 0s - loss: 0.6979 - acc: 0.6496
Epoch 16/100
 - 0s - loss: 0.6936 - acc: 0.6496
Epoch 17/100
 - 0s - loss: 0.6894 - acc: 0.6496
Epoch 18/100
 - 0s - loss: 0.6850 - acc: 0.6715
Epoch 19/100
 - 0s - loss: 0.6808 - acc: 0.6715
Epoch 20/100
 - 0s - loss: 0.6770 - acc: 0.6715
Epoch 21/100
 - 0s - loss: 0.6731 - acc: 0.6715
Epoch 22/100
 - 0s - loss: 0.6680 - acc: 0.6715
Epoch 23/100
 - 0s - loss: 0.6631 - acc: 0.6715
Epoch 24/100
 - 0s - loss: 0.6575 - acc: 0.6715
Epoch 25/100
 - 0s - loss: 0.6516 - acc: 0.6715
Epoch 26/100
 - 0s - loss: 0.6454 - acc: 0.6715
Epoch 27/100
 - 0s - loss: 0.6391 - acc: 0.6715
Epoch 28/100
 - 0s - loss: 0.6313 - acc: 0.6715
Epoch 29/100
 - 0s - loss: 0.6246 - acc: 0.6715
Epoch 30/100
 - 0s - loss: 0.6173 - acc: 0.6715
Epoch 31/100
 - 0s - loss: 0.6097 - acc: 0.6715
Epoch 32/100
 - 0s - loss: 0.6033 - acc: 0.6715
Epoch 33/100
 - 0s - loss: 0.5974 - acc: 0.6715
Epoch 34/100
 - 0s - loss: 0.5910 - acc: 0.6715
Epoch 35/100
 - 0s - loss: 0.5849 - acc: 0.6715
Epoch 36/100
 - 0s - loss: 0.5789 - acc: 0.6788
Epoch 37/100
 - 0s - loss: 0.5732 - acc: 0.6788
Epoch 38/100
 - 0s - loss: 0.5670 - acc: 0.6788
Epoch 39/100
 - 0s - loss: 0.5611 - acc: 0.6788
Epoch 40/100
 - 0s - loss: 0.5557 - acc: 0.6788
Epoch 41/100
 - 0s - loss: 0.5494 - acc: 0.6788
Epoch 42/100
 - 0s - loss: 0.5440 - acc: 0.6788
Epoch 43/100
 - 0s - loss: 0.5390 - acc: 0.6788
Epoch 44/100
 - 0s - loss: 0.5343 - acc: 0.6788
Epoch 45/100
 - 0s - loss: 0.5296 - acc: 0.6788
Epoch 46/100
 - 0s - loss: 0.5247 - acc: 0.6861
Epoch 47/100
 - 0s - loss: 0.5205 - acc: 0.6934
Epoch 48/100
 - 0s - loss: 0.5164 - acc: 0.6934
Epoch 49/100
 - 0s - loss: 0.5118 - acc: 0.6934
Epoch 50/100
 - 0s - loss: 0.5077 - acc: 0.6934
Epoch 51/100
 - 0s - loss: 0.5041 - acc: 0.6934
Epoch 52/100
 - 0s - loss: 0.5005 - acc: 0.6934
Epoch 53/100
 - 0s - loss: 0.4972 - acc: 0.6934
Epoch 54/100
 - 0s - loss: 0.4937 - acc: 0.6934
Epoch 55/100
 - 0s - loss: 0.4903 - acc: 0.6934
Epoch 56/100
 - 0s - loss: 0.4873 - acc: 0.6934
Epoch 57/100
 - 0s - loss: 0.4844 - acc: 0.6934
Epoch 58/100
 - 0s - loss: 0.4817 - acc: 0.6934
Epoch 59/100
 - 0s - loss: 0.4790 - acc: 0.6934
Epoch 60/100
 - 0s - loss: 0.4761 - acc: 0.6934
Epoch 61/100
 - 0s - loss: 0.4736 - acc: 0.6934
Epoch 62/100
 - 0s - loss: 0.4716 - acc: 0.6934
Epoch 63/100
 - 0s - loss: 0.4691 - acc: 0.6934
Epoch 64/100
 - 0s - loss: 0.4671 - acc: 0.6934
Epoch 65/100
 - 0s - loss: 0.4650 - acc: 0.6934
Epoch 66/100
 - 0s - loss: 0.4632 - acc: 0.6861
Epoch 67/100
 - 0s - loss: 0.4613 - acc: 0.6861
Epoch 68/100
 - 0s - loss: 0.4592 - acc: 0.6934
Epoch 69/100
 - 0s - loss: 0.4575 - acc: 0.7007
Epoch 70/100
 - 0s - loss: 0.4558 - acc: 0.7299
Epoch 71/100
 - 0s - loss: 0.4539 - acc: 0.7299
Epoch 72/100
 - 0s - loss: 0.4521 - acc: 0.7591
Epoch 73/100
 - 0s - loss: 0.4508 - acc: 0.7445
Epoch 74/100
 - 0s - loss: 0.4488 - acc: 0.7372
Epoch 75/100
 - 0s - loss: 0.4474 - acc: 0.7664
Epoch 76/100
 - 0s - loss: 0.4464 - acc: 0.7810
Epoch 77/100
 - 0s - loss: 0.4446 - acc: 0.7810
Epoch 78/100
 - 0s - loss: 0.4433 - acc: 0.7810
Epoch 79/100
 - 0s - loss: 0.4419 - acc: 0.7883
Epoch 80/100
 - 0s - loss: 0.4405 - acc: 0.7883
Epoch 81/100
 - 0s - loss: 0.4391 - acc: 0.7956
Epoch 82/100
 - 0s - loss: 0.4378 - acc: 0.7883
Epoch 83/100
 - 0s - loss: 0.4366 - acc: 0.7883
Epoch 84/100
 - 0s - loss: 0.4354 - acc: 0.7883
Epoch 85/100
 - 0s - loss: 0.4342 - acc: 0.7883
Epoch 86/100
 - 0s - loss: 0.4328 - acc: 0.7883
Epoch 87/100
 - 0s - loss: 0.4314 - acc: 0.7883
Epoch 88/100
 - 0s - loss: 0.4301 - acc: 0.7883
Epoch 89/100
 - 0s - loss: 0.4284 - acc: 0.7883
Epoch 90/100
 - 0s - loss: 0.4270 - acc: 0.7883
Epoch 91/100
 - 0s - loss: 0.4261 - acc: 0.7883
Epoch 92/100
 - 0s - loss: 0.4250 - acc: 0.7956
Epoch 93/100
 - 0s - loss: 0.4239 - acc: 0.7956
Epoch 94/100
 - 0s - loss: 0.4229 - acc: 0.7883
Epoch 95/100
 - 0s - loss: 0.4216 - acc: 0.7883
Epoch 96/100
 - 0s - loss: 0.4207 - acc: 0.8029
Epoch 97/100
 - 0s - loss: 0.4199 - acc: 0.8029
Epoch 98/100
 - 0s - loss: 0.4189 - acc: 0.8029
Epoch 99/100
 - 0s - loss: 0.4180 - acc: 0.8029
Epoch 100/100
 - 0s - loss: 0.4174 - acc: 0.8029

In [221]:
model_loss, model_accuracy = model.evaluate(
    X_test_scaled, y_test_categorical, verbose=2)
print(
    f"Normal Neural Network - Loss: {model_loss}, Accuracy: {model_accuracy}")

Normal Neural Network - Loss: 0.5820590970308884, Accuracy: 0.7173913095308386

In [222]:
model_loss, model_accuracy = deep_model.evaluate(
    X_test_scaled, y_test_categorical, verbose=2)
print(f"Deep Neural Network - Loss: {model_loss}, Accuracy: {model_accuracy}")

Deep Neural Network - Loss: 0.5727754248225171, Accuracy: 0.7608695600343787